@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}


body {
  color: var(--foreground);
  background-color: white;
  font-family: "Cormorant Garamond", serif;
}

.bg-image-with-overlay {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 255, 0.4)), url('/img/hero.jpg');
  background-size: cover;
}

.bg-image-with-overlays {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6)), url('/img/hero.jpg');
  background-size: cover;
}


.study-bg-imgs {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/study.jpg');
  background-size: cover;
}